body {
	font-size: 10px;
}

h1 {
	text-align: center;
}

h2 {
	text-align: left;
	display: inline;
}

h3 {
	display: inline;
}

p {
	display: inline;
	font-size: 16px;
}

input {
	width: auto;
}

div {
	text-align: center;
}
